<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDao">
   <!-- <resultMap id="chapter" type="Chapter">
        <id column="sid" property="id"/>
        <result column="title" property="title"/>
        <result column="cover" property="cover"/>
    </resultMap>-->
     <select id="selectNumChapter">
         select count(*)from c_chapter where chapter_id=#{albumId}
     </select>
    <select id="selectAll" resultType="Chapter">
        select chapter_id id ,title,size,downPath,upload_time uploadTime,album_id albumId from c_chapter  where album_id=#{albumId} limit #{begin},#{rows}
    </select>
    <select id="selectRecords" resultType="java.lang.Integer">
        select count(*)from c_chapter
    </select>
    <insert id="instert">
        insert into c_chapter value(#{id},#{albumId},#{title},#{size},#{downPath},#{uploadTime})
    </insert>
    <update id="updateDownPath">
        update c_chapter set downPath=#{downPath},size=#{size} where chapter_id=#{id}
    </update>
    <update id="update">
        update c_chapter set title=#{title},size=#{size},upload_time=#{uploadTime} where chapter_id=#{id}
    </update>
    <delete id="delete">
        delete from c_chapter where chapter_id=#{id}
    </delete>

</mapper>
